p.lead Al usar esta plataforma y servidor acuerdas respetar
  |  las siguientes reglas.

h2 Reglas del Servidor

ul
  li Trata a todes con respeto. No se tolerará ninguna clase de acoso o discursos de odio.
  li Evita el spam o promoción de cosas sin permiso a un moderador. Esto incluye enviar mensajes privados a integrantes.
  li Está prohibido el uso de lenguaje o imágenes sexualizadas, y aproximaciones o atenciones sexuales de cualquier tipo.
  li Si notas algo que va en contra de las reglas o algo que te hace sentir poco seguro, avisa a les mods usando el canal #ayuda o escribiendo @Mod. Queremos que este servidor sea un espacio seguro!
  li Usar los canales, tanto de texto como de voz, para su debido propósito, hay canales para todo y se aceptan sugerencias.
