p.lead Esta web toma datos necesarios de sus usuarios.

h4 Datos personales registrados por la plataforma

h5 G Suite (Google)
p Esta web utiliza OAuth 2.0 para validar tu cuenta UC.
  | Tomamos estos datos de tu perfil:
  ul
    li E-mail
    li Foto de perfil
    li Usuario
    li Nombre

h5 Discord
p Utilizamos OAuth 2.0 para conectar tu cuenta de Discord
  | Tomamos estos datos de tu perfil:
  ul
    li ID de Discord
    li Usuario de Discord &amp; código
    li Foto de perfil

h5 Almacenamiento
p Estos datos se almacenan en un servidor privado administrado para la Consejería Superior.
  | Estos datos no se comparten bajo terceros.

h5 Data Controller
p
  | Agustín Covarrubias I.
  br
  | Universidad Católica de Chile
p
  strong Email de contacto:
  a(href="mailto:agucova@uc.cl") agucova@uc.cl
